always have 2 different terminals for backend and frontend

venv for django (django REST):
- cd advisuri (folder)
- python3 -m venv venv (creating virtual environment)
- env\Scripts\activate 

and then install dependencies in the virtual environment (prefix before the terminal line):
- (pip install -r dependencies.txt)
asgiref 
django 
django-cors-headers
djangorestframework 
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
axios
jwt-decode
react-router-dom

#to start project (in env)
- django-admin startproject (backend name)
- cd (backend name)
- python manage.py startapp api (manage api)

# always activate the backend when running the server
to run the server:
- env\Scripts\activate
- python manage.py runserver


 #                        After the setup is done
#Frontend
- cd frontend
- npm run dev

#Backend
- cd backend
- python manage.py runserver
